
<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Tweet-Generator</title>
</head>

<body>
    <div class="row">
        <div class="col-12 col-sm-6 col-md-8 ">
            <div class="row">
                <div class="col-12">
                    <h1 class="display1" align="center">Tweet-Generator with Oliver Twist</h1>
                    <h3 class="display-5" align="Center">{{ sentence }}</h3>
                    <form action="/">
                        <button type="submit" class="btn btn-light">
                            Generate
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>